/* body */

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;

    background-color: #eeeeee;

    margin-top: 100px;

    display: flex;
    flex-direction: column;
}

html,
body {
    height: 100%;
}



/* texts */

p {
    margin: 20px 0px 0px 10px;

    line-height: 30px;
}

h1,
h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
    color: #ffffff;
    font-size: 25px;

    margin: 20px;
}

h2 {
    color: #4aaaac;
    font-size: 25px;

    border-bottom: 5px #cccccc solid;

    padding: 10px 0px 15px 0px;
}



/* header */

header {
    background-color: #ffffff;

    height: 65px;
    width: 100%;

    position: fixed;
    top: 0;

    border-bottom: 1px #cccccc solid;

    margin-bottom: 20px;
}

header .name-container {
    background-color: #4aaaac;

    display: inline-block;

    float: left;

    height: 65px;
}

header li {
    display: inline-block;

    height: 65px;

    text-align: center;

    margin-top: 25px;
}

header nav {
    float: right;
}

header a {
    color: #777777;
    text-decoration: none;
    font-size: 15px;
    text-align: center;

    padding: 20px;
}

header a:hover {
    color: #ffffff;

    background-color: #4aaaac;
}



/* classes */

.container {
    width: 960px;

    margin: 0 auto;
}

.content {
    flex: 1 0 auto;
}

.small-logo {
    width: 50px;
    height: 50px;

    float: left;

    margin: 20px 10px 0 0;
}



/* footer */

footer {
    background-color: #222222;

    border-top: 5px solid #4aaaac;

    height: 65px;
    width: 100%;
}

footer p {
    text-align: center;
}



/* aside */

aside {
    width: 230px;
    height: 120px;

    float: left;

    background-color: #ffffff;

    margin-left: 20px;
    padding: 20px;
}

aside li {
    margin: 0 25px;
}

aside h2 {
    text-align: center;
}

aside img {
    border-radius: 50%;
}