@media screen (max-width: 980px) {
    
}

@media screen (max-width: 768px) {

}

@media (max-width: 640px) {
    .container {
    	width: 640px;
    }

    section {
    	width: 540px;
    	margin: 10px;
		height: 500px;
    }

    aside {
    	margin: 10px;
    	width: 540px;
    }

    aside a {
    	margin: 0 auto;
    	text-align: center;
    }
}